*{
    margin:0px;
    padding :0px;
}
.main{
    padding: 0px;
    margin : 0px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(2.jpeg.jpg) ;
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.logo{

    padding : 25px;
    width: 200px;
    float: left;
    margin-top : 20px;
    margin-left: 20px;
    color : #ff7720;

}
.list{
    float: left;
    margin-top: 21px;
    margin-left: 20px;
    padding : 12px;
}
.li{
    display: flex;
    list-style-type: none;
    margin-top: 20px;
    margin-left: 30px;
    padding: 0 30px;


}
.li a{
    text-decoration: none;
    padding :0 20px;
    margin : 40px 0 0 0;
    color : white;
    font-size: 15px;
    margin-top: 12px;
    padding-top: 10px;
    transition: 1s ease-in-out;
}
.li a:hover{
    color:#ff7720;
}
.search{
    float: right;
    width: 400px;
    margin: 50px 30px ;
    right: 0;

}
.text{
    margin-right: 12px;
    padding: 12px ;
    background: transparent;
    color : white;
    border: 1px solid #ff7720;
    border-radius: 10%;
}
.srch{
    margin-right: 12px;
    padding: 12px ;
    background: #ff7720;
    border-radius: 10%;
    transition: 1s ease-in-out;
}
.srch a{
    color: white;
    text-decoration: none;
    text-align: center;
    transition: 1s ease-in-out;


}
.srch a{
        color: black;

}
.srch:hover{
    background-color: aliceblue;
}
.navbar{
    width: 700px;
    height: 600px;
    float : left;
    margin-left: 100px;
    margin-top: 100px;
}
h2{
    color: aliceblue;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Gill Sans';
}
span{
    color:#ff7720;

}
p{
    color:aliceblue;
    font-size: 20px;
}
.join{
    background-color:#ff7720;
    width: 150px;
    float: left;
    margin: 25px;
    padding: 15px;
    border: none;
    font-size: 20px;
    border-radius: 25px;
    transition: 1s ease-in-out;

}
.join a{
    color: white;
    font-family: 'Times New Roman';
    text-decoration: none;
    transition: 1s ease-in-out;
}
.join a:hover{
    color: black;
}
.join:hover{
    background-color: white;
}
.form{
    background-color: black;
    float : right;
    width: 400px;
    margin : 25px 50px ;
    height: 400px;
}
.title{
    background-color: white;
    color: #ff7720;
    padding: 10px 20px;
    margin: 25px 120px;
    text-align: center;
    width: 100px;
    border-radius: 12px;
    float: center;

}
.name{
    padding: 12px;
    margin:10px 30px;
    background-color: transparent;
    border: 1px solid #ff7720;
    color: white;
    width: 200px;
}
.pass{
    padding: 12px;
    margin:10px 30px;
    background-color: transparent;
    border: 1px solid #ff7720;
    color: white;
    width: 200px;
}
.ent{
    float: left;
    width: 100px;
    margin: 10px 100px;
}
.log a{
    text-decoration: none;
    padding :5px 12px;
    margin: 12px 50px;
    text-align : center;
    background-color: #ff7720;
    font-size: 30px;
    color: white;
    border-radius: 12px;
    transition: 1s ease-in-out;
}
.log a:hover{
    color: black;
    background-color: white;
}
.don{
    font-size: 13px;
    font-family:'Gill Sans';
    float: left;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin: 10px 90px;
    text-align: center;

}
.don a{
    color:#ff7720;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.don a:hover{
    color : rgb(219, 169, 60);
}
.icon{
    width: 400px;
    display: flex;
    margin: 20px;
    padding: 20px;
    float : center;
    list-style-type: none;
}
.icon a{
    padding-right: 12px;
    padding-left: 12px;
    font-size: 25px;
    margin-right: 12px;
    color: white;
    transition: 1s ease-in-out;

}
.icon a:hover{
    color :#ff7720;
}
.footer{
    float: bottom;
    bottom : 0;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpeg.jpg);
}

.auther{
    float : left;
    width: 50%;
    height: 200px;
    margin-left: 150px;
    padding: 25px;
}
.til{
    color: #ff7720;
    font-size: 40px;
    padding: 23px;
    margin-left: 120px;

}
.par{
    color: white;
    font: 50px;
    font-weight: bold;
    padding-top: 12px;
    color: #ff7720;
    text-decoration: double;
    margin-left: 100px;

}
ul{
    padding-left: 12px;
}
ul li{
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding-top: 12px;
    padding-right: 12px;

}
img{
    border-radius: 50px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
    
}